<section>
  <h1>
    Create article
  </h1>
  <section>
  <%= form_for @conn, article_path(@conn, :create), [as: :article], fn f -> %>
      <div>
        <label>Title</label><br/>
        <%= text_input f, :title %>
      </div>

      <br/>

      <div>
        <label>Content</label><br/>
        <%= textarea f, :content %>
      </div>
      <br/>

      <%= submit "Save Article" %>
    <% end %>
  </section>
</section>
